<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      記事一覧
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
-->
  <ion-card *ngFor="let p of posts; trackBy: trackByFn"
    routerLink="/home/{{p.ID}}" >
  <!--
    <ion-card-header>
    <ion-card-subtitle>
      {{p.date | date: "yyyy年MM月dd日"}}
    </ion-card-subtitle>
    <ion-card-title>{{p.title}}</ion-card-title>
  </ion-card-header>
  -->
    <app-wp-head title="{{p.title}}" date="{{p.date}}"></app-wp-head>>
  </ion-card>
</ion-content>
